/* 文字の形・色などの装飾全般 */



html {
  /* zoom: 0.8; 50% 表示 */
  width: 100%;
  height: 100%;
  margin: 0;      /* 左右を自動で余白に */
  overflow-y: clip; /* はみ出した部分だけスクロールコンテナにする */
}
 
body {
  width: 100%;
  height: 100%;
  margin: 0;      /* 左右を自動で余白に */
  overflow-y: clip; /* はみ出した部分だけスクロールコンテナにする */
}

/* htmlのモードとの依存関係を決める */
[mode='blockly'] .mode-blockly {
  display: block; /* モードごとに対応する要素を表示する */
}

.main {
  width: 100%;
  max-width: 2500px;  
  position: relative;
  margin: 0 left; /* 中央揃えにする */
}

.header-bar {
  position: fixed;
  background-color: #4CAF50;
  top: 0; /* ヘッダーは高さ固定 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5vh;
  width: 100vw;
}

/* モードごとでディスプレイが混在しないように設定 */
/* .mode-edit,
.mode-maker, */
.mode-blockly {
  display: none;
}

/* ブロックを操作する画面の設定 */
.mode-blockly {
  color: white;
}

.statement {
  margin: 1em 0;
  font-size: 1.5em;
}




/* 以下は特定の領域(組み合わせを含む)を設定する */

/* ボタンと現在の状態をまとめて表示するコンテナ*/
.button-currentLog-container {
  display: flex;             
  justify-content: left; 
  margin-top: 15px; 
  margin-bottom: 1.5vh;
}

.all-container {
  display: flex;
  padding-top: 7.5vh; /* ヘッダーの高さぶん下げる */
  gap: 20px;
  margin-left: 20px;
  align-items: flex-start;
}

/* ブロックの実行結果を表示する領域とワークスペースをまとめて表示するコンテナ  */
.workspace-container {
  display: flex;
  width: 100%;  /* 親コンテナは100% */
  height: 100%; 
  overflow: hidden; 
  margin-bottom: 10px;
}

.startScreen-container {
  margin-left: 1vh;
  position: relative;
  transform: translateX(0); /* 初期状態 */
  transition: transform 0.4s ease; /* ← これがないと瞬間移動になる */
}



/* データの保存ボタンを格納するコンテナ */
/* .data-container {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 10px; 
} */

.display-right{
  display: flex;
  justify-content: space-between; /* 横方向の右揃え */
  align-items: flex-start; /* 縦方向の下揃え */
}

.display-none {
  display: none;
}


.image-container {
  position: absolute;
  top: 110px; /* ← 好きな位置に置ける */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 3px solid black; 
  width: 44vw;  /* 必要に応じて幅や高さを設定 */
  height: 82vh;
  margin-right: 1vw;
  box-sizing: border-box;  /* 枠線を含めてサイズ調整 */
  overflow: hidden;  
}

.behaviorImage-container{
  width: 900px;
  height: 900px;
  margin-top: 0px;
}


.image-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.behavior-container{
  margin-top: 170px;
}

.log-panel {
  position: absolute;
  width: 500px;
  height: 88.5vh;
  transform: translateX(-100%);
  transition: transform 0.34s ease-out;
  box-shadow: 4px 0 10px rgba(0,0,0,0.2);
  /* z-index: 100; */
}

.log-panel.show {
  transform: translateX(0%);
}

.log-panel.hidden {
  transform: translateX(-100%);
}


/* 以下は実行結果を表示する領域を設定する */

/* ブロックの実行結果を出力時，エラーが発生している場合(エラー内容は独自ルールに基づく)に文字を色を変える */
.log-entry.normal {
  color: black;
}

.log-entry.error {
  color: red; /* 文字色を赤に */
}

.log-entry.behavior {
  color: #1976D2
}

.log-entry.switch {
  color: #7E57C2;
}

.log-entry.effect {
  color: #7CB342
}

.behaviorLog-area.activity{
  font-size: 30px;
  color: red; /* 文字色を赤に */
}

/* ログを出力する領域 */
.log-area {
  width: 500px; 
  box-sizing: border-box; /* パディングやボーダーを高さに含める */
  background-color: #fff;
  padding: 1vw;
  box-sizing: border-box;
  overflow-y: auto;      /* 垂直方向にスクロールバーを表示 */
  white-space: pre-wrap; /* 改行を保持する */
  word-wrap: break-word; /* 単語の途中で改行を許可 */
  font-family: "Noto Sans JP", sans-serif; /* フォントを設定 */
  font-size: 20px; /* フォントサイズ */
  font-weight: bold; /* 文字を太字に */
  line-height: 1.6; /* 行間を広げる */
}

/* ブロックの実行結果を表示する領域*/
.block-log-area {
  height: 71vh;         /* 高さを指定してスクロール領域を設定 */
  margin-top: 2.5vh; 
}


/* 現在の状態を出力する領域 */
.current-log-area {
  height: 12vh;         /* 高さを指定してスクロール領域を設定 */
  margin: 5px;
  width: 490px;
  background-color: rgba(255, 255, 0, 0.15); /* 薄い黄色で軽く強調 */
  border: 3px solid #888;
  border-radius: 6px;
}

.behaviorLog-area{
  width:900px;
  height:10vh;
  overflow-y: visible;
  margin-bottom: 30px;
  font-size: 20px;
}


.data-area{
  flex-direction: row;
  align-items:center;
  position: absolute;
  background-color:#4CAF50;
  z-index: 10;
}

/* ログを囲うボックス */
.log-box {
  background-color: #eee;
  border: 3px solid #888;
  border-radius: 6px;
  padding: 10px 14px;
  margin-bottom: 12px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
  white-space: pre-wrap; /* 改行をそのまま表示 */
}


/* 以下はボタンの設定をする */

/* 動作テスト，リセット，イベントボタンをまとめて表示するグループ */
.button-group {
  display: flex;             
  overflow-x: auto;            /* 横スクロールを可能にする */
  white-space: nowrap;       /*  ボタンが折り返されないようにする  */
  /* margin-top: 1vh; */
  width: 1000px;
}

/* ボタンの設定を行う(色以外を設定) */
.button {
  /* padding: 0.2em 0.5em; */
  margin-right: 2px;
  height: 80px;
  font-family: Arial, sans-serif; /* フォントを設定 */
  font-weight: bold;
  font-size: 1.2em;
  color: whitesmoke;
  text-align: center;
  cursor: pointer;  /* カーソルを合わせると手に変わる */
}

/* 動作テスト，リセットボタンの色を設定 */
.action-button {
  background-color: #00BCD4;
}

/* イベントボタンの色を設定 */
.event-button {
  background-color: #FF0015;
}

.absolute {
  position: absolute;
}

.relative {
  /* display: none; */
  position: relative;
}

.top{
  margin-top: 100px;
}

.add-button {
  background-color: #768082;
  writing-mode: horizontal-tb; /* 横書きに固定 */
  white-space: nowrap;         /* 改行させない */
  height: 50px;
  width: 60px;
  margin: 5px;
  border-radius: 5px; /* 角の丸みの半径を5pxにする */
}

/* 動作テスト，リセットボタンのホバー時に色を変える */
.action-button:hover {
  background-color: #006D7F; 
}

/* イベントボタンのホバー時に色を変える */
.event-button:hover {
  background-color: #B30000; 
}

.add-button:hover {
  background-color: #50575d; 
}

/* 各種ボタンをクリック時にサイズを小さくする */
.action-button:active,
.event-button:active {
  transform: scale(0.90);
}

/* mdlの仕様でボタンクリック時に背景が白くなるので，それを防ぐ */
.action-button:focus,
.action-button.is-focused {
  background-color: #00BCD4 !important;
}

.event-button:focus,
.event-button.is-focused {
  background-color: #FF0015 !important;
}

.data-button:focus,
.data-button.is-focused {
  background-color: #4CAF50 !important;
}


/* 以下はドロップダウンメニューの設定を行う */

.data-button {
  background-color: #4CAF50;  /* 緑の背景 */
  height: 60px;
  width:230px;
  padding: 10px 20px;  /* パディング */
  border-radius: 5px; /* 角の丸みの半径を5pxにする */
  font-size: 20px;
  margin: 10px;
  border: 2px solid black;  
}


.data-button option {
  font-size: 1.2em;
}

.data-button:hover {
  background-color: #388E3C; 
}

.data-button:focus {
  outline: none;  /* フォーカス時のアウトラインを消す */
}


#guidancePanel {
  position: fixed;
  top: 0;
  right: -1100px;
  width: 600px;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 1vw;
  box-sizing: border-box;
  overflow-y: auto;
}

.resize-handle {
  position: absolute;
  top: 0;
  left: -5px; /* パネルの左端に配置（右側を固定したいので） */
  width: 8px;
  height: 100%;
  cursor: ew-resize;
  background: transparent;
}


#guidancePanel.open {
  right: 0; /* 表示状態 */
}

#closeGuidance {
  position: absolute;
  top: 8px;
  right: 8px;
}

.toggle-step{
  display: flex;
  flex-direction: column;
}

.guidance-content {
  max-height: 0;          /* 初期状態は高さゼロ */
  margin: 0 ;
  overflow: hidden;
  opacity: 0;             /* 透明にする */
  font-size: 28px;
  line-height: 1.6;
  color: #333;
  white-space: pre-line;
  border: 3px solid #666;
  border-radius: 8px; /* 角をなめらかに */
  padding: 0;
  transition:padding 0.3s ease, margin 0.3s ease, max-height 0.3s ease, opacity 0.3s ease;
}


.guidance-content.open {
  max-height: 1000px;      /* 表示時の高さ（内容に合わせて十分大きめに） */
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 8px;
  opacity: 1;             /* 不透明にする */
  overflow: visible; /* ← 開いたときだけ表示 */
}


.center-target {
    display: block;
    text-align: center;
    color: #E53935;
    font-weight: bold;
    margin-bottom: 4px; /* 必要なら調整 */
}

.center-txt {
    text-align: center;
}

.guidance-content img {
  display: block; 
  max-width: 400px;
  max-height: 150px;   
  margin: 0 auto;
}

.guidance-button {
  font-size: 29px;
  height: 50px;
}

.guidance-text {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #333;
}

/* 以下はインプットタグの設定を行う */

input[type="text"] {
  /* background-color: #4CAF50; */
  font-size: 1.4em;
  padding: 10px 10px;
  height: 30px;
  margin: 0 3px;
}
